/* add css module styles here (optional) */

.row {
  margin: 0px;
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.2%;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  text-align: justify;
}

.menu {
  padding: 3%;
  height: auto;
  position: relative;
} 

.badge {
  color: #000;
}
